<%- include('./includes/header.ejs', {
    title: `${title} - Sefinek Blocklists`,
    meta: { desc, tags },
    canonical,
    css: 'viewer',
    page: 'markdown'
}) %>

<main>
    <div class="container-box">
        <%- html %>
    </div>
</main>

<%- include('./includes/footer.ejs') %>